<ul class="media-list">
  <% records.each do |record| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(record.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to record.user.name, user_path(record.user) %> <span class="text-muted">posted at <%= record.created_at %></span>
        </div>
        <div>
          <p><%= record.status %><%= record.record %>kg</p>
        </div>
        <div>
          <% if current_user == record.user %>
            <%= link_to "削除", record, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate records %>
</ul>