<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= form_for(@record) do |f| %>
        <div class="form-group">
          <%= f.select :status, [["ベンチプレス", "ベンチプレス"], ["スクワット", "スクワット"], ["デッドリフト", "デッドリフト"]], class: "form-control" %>
          <%= f.number_field :record, class: 'form-control' %>
        </div>
        <%= f.submit '記録', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-xs-8">
      <%= render 'records/records', records: @records %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Fitness</h1>
    </div>
  </div>
<% end %>