<ul class="media-list">
  <% benches.each do |bench| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(bench.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to bench.user.name, user_path(bench.user) %> <span class="text-muted">posted at <%= bench.created_at %></span>
        </div>
        <div>
          <p><%= bench.bench_record %></p>
        </div>
        <div>
          <% if current_user == bench.user %>
            <%= link_to "削除", bench, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate benches %>
</ul>